@import url("https://fonts.googleapis.com/css2?family=Mynerve");

:root {
    --font-family: "Mynerve";
    --bold-font: 600;
    --bg-color: #fcfcfc;
    --primary-color: #000000;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    min-height: 100vh;
}

p {
    font-size: 1.1rem;
}

.contact a {
    font-size: 1.1rem;
}

.background-img {
    max-width: 100%;
    position: fixed;
    top: 1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.profile-anchor {
    position: absolute;
    bottom: 40rem;
}

.skills-anchor {
    position: absolute;
    bottom: 40rem;
}

.projects-anchor {
    position: absolute;
    top: -7rem;
}

.contact-anchor {
    position: absolute;
    bottom: 30rem; 
}

a:hover {
    color: var(--secondary-color);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3.2rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav li a {
    transition: var(--transition);
}

nav li a:hover {
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    font-weight: var(--bold-font);
    font-size: 20px;
    padding-top: 0.8rem;
}

.burger-menu {
    color: var(--primary-color);
    background-color: transparent;
    cursor: pointer;
    display: none;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.burger-menu img {
    position: relative;
    right: 0rem;
    top: 0rem;
    max-width: 50%;
}

nav img {
    width: 2.5rem;
    position: relative;
    right: 0rem;
    top: 0.2rem;
}

nav img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.profile {
    position: relative;
    top: 20rem;
    left: 10rem;
    width: 30rem;
    text-align: center;
    padding: 0.8rem;
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.skills {
    position: relative;
    top: 50rem;
    left: 10rem;
    width: 30rem;
    text-align: center;
}

.skills h2 {
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    margin-bottom: 1rem;
}

.skill-icon {
    background-color: #fff;
    opacity: 0.9;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 1rem;
    margin: 0.4rem;
    width: 9rem;
    height: 9rem;
}

.skills span {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    margin-top: 8.4rem;
    margin-left: -7.5rem;
    width: 5rem;
    z-index: 1;
}

.skills span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.skills img:hover + span {
    visibility: visible;
}

.projects {
    position: relative;
    top: 80rem;
    left: 10rem;
    width: 30rem;
    text-align: center;
}

.projects h2 {
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    margin-bottom: 1rem;
}

.projects-container {
    display: flex;
}

.project-card {
    background-color: #fff;
    opacity: 0.9;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 1.1rem;
    margin: 0.4rem;
    height: 15.2rem;
}

.project-card img {
    cursor: pointer;
    width: 12rem;
    border-radius: 11px; 
    transition: 0.3s;
}

.project-card img:hover {
    opacity: 0.7;
}

.contact {
    position: relative;
    top: 110rem;
    left: 15rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bonus {
    position: relative;
    top: 75rem;
    left: 17rem;
    width: 15rem;
    text-align: center;
}

.scroll-up {
    position: fixed;
    left: 3.7%;
    bottom: 10.5%;
    cursor: pointer;
    mix-blend-mode: multiply;
}

.scroll-up img {
    width: 3rem;
    height: 3rem;
}

footer {
    position: sticky;
    margin-top: 130rem;
    padding: 0rem 0.5rem;
    padding-bottom: 0.3rem;
    width: 70rem;
    background: linear-gradient(to left, transparent, white);
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal img {
    padding-top: 6rem;
    width: 70%;
}

.modal img[src$="1fs.jpg"] {
    padding-top: 6rem;
    width: 90%;
}

.modal img[src$="4fs.jpg"] {
    padding-top: 6rem;
    width: 80%;
}

.modal img[src$="6fs.jpg"] {
    padding-top: 6rem;
    width: 95%;
}

.modal div {
    color: #ccc;
    padding: 10px;
    text-align: center;
}

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 4rem;
    right: 0.3rem;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 720px) {

    nav {
        position: sticky;
        padding: 0.5rem 0.2rem;
    }

    nav ul {
        position: fixed;
        background-color: rgb(241, 241, 241);
        border-radius: 10px;
        flex-direction: column;
        top: 74px;
        left: 10%;
        width: 80%;
        text-align: center;
        border:rgba(0, 0, 0, 0.1);
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    
    nav ul li {
        margin: 8px;
    }
    
    .burger-menu {
        display: block;
    }
    
    nav ul.show {
        transform: translateX(0);
    }

    .nav-link {
        margin-right: 30px;
    }

    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .background-img {
        max-width: 250%;
    }

    .profile {
        margin-top: -15rem;
        margin-left: -4.9rem;
        width: 18rem;
    }

    .skill-icon {
        width: 5.5rem;
        height: 5.5rem;
    }

    .skills {
        margin-top: -20rem;
        margin-left: -4.9rem;
        width: 18rem;
    }

    .skills-anchor {
        position: absolute;
        bottom: 33.5rem;
    }

    .skills span {
        position: absolute;
        margin-top: 5rem;
        margin-left: -5.25rem;
        border-radius: 10px;
        width: 4rem;
    }

    .projects {
        margin-top: -20rem;
        margin-left: -4.5rem;
        width: 18rem;
    }

    .projects-anchor {
        position: absolute;
        top: -4.5rem;
    }
    
    .projects-container {
        margin-left: -1.5rem;
    }

    .project-card {
        width: 10.5rem;
        height: 10.5rem;
    }

    .project-card img {
        width: 7.5rem;
        height: 7.5rem;
    }

    .modal img {
        padding-top: 6rem;
        width: 90%;
    }

    .contact {
        margin-top: -15rem;
        margin-left: -9.0rem;
        width: 18rem;
    }

    .contact-anchor {
        position: absolute;
        top: -8.5rem;
    }
    
}

@media screen and (max-width: 420px) {

    .background-img {
        max-width: 325%;
    }

    nav {
        position: sticky;
        padding: 0.3rem 0.2rem;
    }

    .scroll-up {
        display: none;
    }

    nav ul {
        position: fixed;
        top: 64px;
        height: 80%;
    }

    nav ul a {
        margin-top: 20px;
        margin-bottom: -20px;
    }

    nav ul li {
        margin: 4px;
    }

    .profile {
        margin-top: -13rem;
        margin-left: -5.9rem;
        width: 15rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }

    .skill-icon {
        width: 5.8rem;
        height: 5.8rem;
    }

    .skills {
        margin-top: -17rem;
        margin-left: -10.3rem;
        width: 24rem;
    }

    .skills h2 {
        width: 18rem;
        margin-left: 3rem;
    }

    .skills span {
        position: absolute;
        margin-top: 5.5rem;
        margin-left: -5.4rem;
        border-radius: 10px;
        width: 4rem;
        height: 2rem;
        font-size: 1rem;
    }

    .skills-anchor {
        position: absolute;
        bottom: 24.5rem;
    }

    .projects {
        margin-top: -15rem;
        margin-left: -4.5rem;
        width: 10rem;
    }

    .projects h2 {
        margin-left: -3.9rem;
        width: 20rem;
    }

    .projects h3 {
        font-size: 0.8rem;
        margin-top: -0.5rem;
        margin-left: -0.4rem;
    }

    .projects-container {
        margin-left: -4.4rem;
    }

    .project-card {
        width: 10rem;
        height: 10rem;
    }

    .project-card img {
        width: 7.5rem;
        height: 7.5rem;
    }

    .projects-anchor {
        position: absolute;
        top: -3.5rem;
    }

    .contact {
        margin-top: -11rem;
        margin-left: -11rem;
        width: 15rem;
    }

    .contact a {
        margin-left: -0.5rem;
        font-size: 1rem;
    }

    .contact-anchor {
        position: absolute;
        top: -8.5rem;
    }

    footer {
        margin-top: 125rem;
    }

    /* .modal img {
        padding-top: 6rem;
        width: 90%;
    } 
    */

}
