@import url("https://fonts.googleapis.com/css2?family=Mynerve");

:root {
    --font-family: "Mynerve";
    --bold-font: 600;
    --bg-color: #fcfcfc;
    --primary-color: #000000;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    min-height: 100vh;
}

p {
    font-size: 1.1rem;
}

.contact a {
    font-size: 1.1rem;
}

.background-img {
    max-width: 100%;
    position: fixed;
    top: 1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.profile-anchor {
    position: absolute;
    bottom: 40rem;
}

.skills-anchor {
    position: absolute;
    bottom: 40rem;
}

.projects-anchor {
    position: absolute;
    top: -7rem;
}

.contact-anchor {
    position: absolute;
    bottom: 30rem; 
}

a:hover {
    color: var(--secondary-color);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3.2rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav li a {
    transition: var(--transition);
}

nav li a:hover {
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    font-weight: var(--bold-font);
    font-size: 20px;
    padding-top: 0.8rem;
}

nav img {
    width: 2.5rem;
    position: relative;
    right: 1.5rem;
    top: 0.2rem;
}

nav img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.profile {
    position: relative;
    top: 20rem;
    left: 10rem;
    width: 30rem;
    text-align: center;
    padding: 0.8rem;
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.skills {
    position: relative;
    top: 50rem;
    left: 10rem;
    width: 30rem;
    text-align: center;
}

.skills h2 {
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    margin-bottom: 1rem;
}

.skill-icon {
    background-color: #fff;
    opacity: 0.9;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 1rem;
    margin: 0.4rem;
    width: 9rem;
    height: 9rem;
}

.skills span {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    margin-top: 8.4rem;
    margin-left: -7.5rem;
    width: 5rem;
    z-index: 1;
}

.skills span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.skills img:hover + span {
    visibility: visible;
}

.projects {
    position: relative;
    top: 80rem;
    left: 10rem;
    width: 30rem;
    text-align: center;
}

.projects h2 {
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    margin-bottom: 1rem;
}

.projects-container {
    display: flex;
}

.project-card {
    background-color: #fff;
    opacity: 0.9;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 1.1rem;
    margin: 0.4rem;
    height: 15.2rem;
}

.project-card img {
    cursor: pointer;
    width: 12rem;
    border-radius: 11px; 
    transition: 0.3s;
}

.project-card img:hover {
    opacity: 0.7;
}

.contact {
    position: relative;
    top: 110rem;
    left: 15rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    background-color: #fcfcfc;
    opacity: 0.9;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bonus {
    position: relative;
    top: 75rem;
    left: 17rem;
    width: 15rem;
    text-align: center;
}

.scroll-up {
    position: fixed;
    left: 3.2%;
    bottom: 10.5%;
    cursor: pointer;
    mix-blend-mode: multiply;
}

.scroll-up img {
    width: 3rem;
    height: 3rem;
}

footer {
    position: sticky;
    margin-top: 130rem;
    padding: 0rem 0.5rem;
    padding-bottom: 0.3rem;
    width: 70rem;
    background: linear-gradient(to left, transparent, white);
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal img {
    padding-top: 6rem;
    width: 70%;
}

.modal div {
    color: #ccc;
    padding: 10px;
}

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 4rem;
    right: 0.3rem;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}